.fourphone{
    margin-bottom: 80px;
    .tak{
        font-weight: 700;
        font-size: 16px;
        color: #000000;
        margin-bottom: 26px;
    }
    .fours{
        display: flex;
        justify-content: space-between;

        .four1{
            width: 255px;
            background: #FFFFFF;
            border: 1px solid #EFEFEF;
            padding: 21px 20px;
           .spac{
            display: flex;
            justify-content: space-between;

            .fp1{
                width: 160px;
    
                img{
                    width: 160px;
                    height: 113px;
                    margin-bottom: 30px;
                }
                .pow{
                    margin-bottom: 0;
                    font-weight: 700;
                    font-size: 14px;
                    color: #000000;
                    line-height: 20px;
                    span{
                        font-weight: 400;
                        color: #75758A;
                    }
    
                }
                .ots{
                    font-weight: 400;
                    font-size: 14px;
                    color: #60B021;
                    margin-top: 5px;
                    margin-bottom: 13px;
                }
               }
               .ics{
                svg{
                 display: block;
                 margin-bottom: 17px;
                }
               }
            
           }
           .pdp{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 215px;
            height: 40px;
            background: #FFFFFF;
            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
            border-radius: 100px;
            font-weight: 700;
            font-size: 14px;
            text-transform: uppercase;
            color: #000000;
           }
        }
    }
}
.mapunder{
    width: 100%;
    background: #515668;
    .email{
        display: flex;
        align-items: center;
        padding: 16px 0;
       .emailchild{
        display: flex;
        margin-right: 85px;
        .emil{
            margin-right: 10px; 
        }
        .pod{
            margin-top: 0;
            margin-bottom: 0;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #8EE901;
            span{
                color: white;
            }
        }
       }
       .for{
         margin-right: 95px;
           form{
            display: flex;
            align-items: center;
            .inp{
                padding: 12px 20px;
                width: 315px;
                background: #FFFFFF;
                box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
                border: 0;
                margin-right: 0;
            }
            .lab{
                margin-left: 0;
                width: 160px;
                padding: 12px 20px;
                background: #4F9C2C;
                font-weight: 700;
                font-size: 14px;
                line-height: 16px;
                text-align: center;
                text-transform: uppercase;
                color: #FFFFFF;
                box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);

            }
        }
       }
       .call{
        display: flex;
        .ring{
            margin-right: 10px;

        }
        .zakaz{ 
            margin-top: 0;
            margin-bottom: 0;
            font-weight: 700;
            font-size: 16px;
            color: #8EE901;
            text-decoration: none;
        }
       }

    }

}
@media (max-width: 900px ){
    *{
      box-sizing: border-box;
    }
      .fourphone{
          margin-bottom: 50px;
          .tak{
              font-weight: 700;
              font-size: 20px;
              color: #000000;
              margin-bottom: 26px;
              text-align: center;
          }
          .fours{
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-between;
      
              .four1{
                  width: max-content;
                  background: #FFFFFF;
                  border: 1px solid #EFEFEF;
                  padding: 30px 20px;
                  margin-bottom: 20px;
                 .spac{
                  display: flex;
                  justify-content: space-between;
      
                  .fp1{
                      width: 180px;
          
                      img{
                          width: 180px;
                          height: 133px;
                          margin-bottom: 20px;
                      }
                      .pow{
                          margin-bottom: 0;
                          font-weight: 700;
                          font-size: 18px;
                          color: #000000;
                          line-height: 20px;
                          span{
                              font-weight: 400;
                              color: #75758A;
                          }
          
                      }
                      .ots{
                          font-weight: 400;
                          font-size: 16px;
                          color: #60B021;
                          margin-top: 5px;
                          margin-bottom: 13px;
                      }
                     }
                     .ics{
                      padding: 20px 20px;
                      svg{
                       display: block;
                       margin-bottom: 17px;
                      }
                     }
                  
                 }
                 .pdp{
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: max-content;
                  padding: 20px 20px;
                  background: #FFFFFF;
                  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
                  border-radius: 100px;
                  font-weight: 700;
                  font-size: 14px;
                  margin: 0 auto;
                  text-transform: uppercase;
                  color: #000000;
                 }
              }
          }
      }
  
  
      
      
  }







@media (max-width: 600px ){
  *{
    box-sizing: border-box;
  }
    .fourphone{
        margin-bottom: 50px;
        .tak{
            font-weight: 700;
            font-size: 20px;
            color: #000000;
            margin-bottom: 26px;
            text-align: center;
        }
        .fours{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
    
            .four1{
                width: max-content;
                background: #FFFFFF;
                border: 1px solid #EFEFEF;
                padding: 30px 20px;
                margin-bottom: 20px;
               .spac{
                display: flex;
                justify-content: space-between;
    
                .fp1{
                    width: 180px;
        
                    img{
                        width: 180px;
                        height: 133px;
                        margin-bottom: 20px;
                    }
                    .pow{
                        margin-bottom: 0;
                        font-weight: 700;
                        font-size: 18px;
                        color: #000000;
                        line-height: 20px;
                        span{
                            font-weight: 400;
                            color: #75758A;
                        }
        
                    }
                    .ots{
                        font-weight: 400;
                        font-size: 16px;
                        color: #60B021;
                        margin-top: 5px;
                        margin-bottom: 13px;
                    }
                   }
                   .ics{
                    padding: 20px 20px;
                    svg{
                     display: block;
                     margin-bottom: 17px;
                    }
                   }
                
               }
               .pdp{
                display: flex;
                justify-content: center;
                align-items: center;
                width: max-content;
                padding: 20px 20px;
                background: #FFFFFF;
                box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
                border-radius: 100px;
                font-weight: 700;
                font-size: 14px;
                margin: 0 auto;
                text-transform: uppercase;
                color: #000000;
               }
            }
        }
    }

    .mapunder{
        width: 100%;
        background: #515668;
        .email{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 12px 0;
           .emailchild{
            display: none;
            margin-right: 85px;
            .emil{
                margin-right: 10px; 
            }
            .pod{
                margin-top: 0;
                margin-bottom: 0;
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                color: #8EE901;
                span{
                    color: white;
                }
            }
           }
           .for{
             margin-right: 0px;
               form{
                display: flex;
                align-items: center;
                .inp{
                    padding: 12px 20px;
                    width: max-content;
                    background: #FFFFFF;
                    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
                    border: 0;
                    margin-right: 0;
                }
                .lab{
                    margin-left: 0;
                    width: max-content;
                    padding: 12px 20px;
                    background: #4F9C2C;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 16px;
                    text-align: center;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    
                }
            }
           }
           .call{
            display: none;
            .ring{
                margin-right: 10px;
    
            }
            .zakaz{ 
                margin-top: 0;
                margin-bottom: 0;
                font-weight: 700;
                font-size: 16px;
                color: #8EE901;
                text-decoration: none;
            }
           }
    
        }
    
    }
    
    
}