@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&family=Libre+Baskerville&display=swap');

*{
    box-sizing: border-box;
}
.container {
    width: 80%;
    margin: 0 auto;
}

body {
    font-family: 'Jost';
    margin: 0;
}
.design {
    width: 100%;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 155px;
     
        a {
            transition: .5s;
            img {
                width: 196px;
                height: 24px;
            }
            &:hover{
                transform: scale(1.05);
                cursor: pointer;
                
            }
        }

    div {
            a {
                font-weight: 400;
                font-size: 14px;
                letter-spacing: 2px;
                color: #333136;
                text-decoration: none;

                &:not(:last-child) {
                    margin-right: 42px;
                }
            }
        }
    }
    .award {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 64px 0;
        background-color: #E7816B;
        border-radius: 15px;
        margin-bottom: 160px;
        .text1 {
            font-weight: 500;
            font-size: 48px;
            text-align: center;
            color: #FFFFFF;
        }
        .text2 {
            margin-top: -20px;
            width: 400px;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            color: #FFFFFF;
        }
      
    }
    .img{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 32px;
        margin-bottom: 160px;
        .bloc{
            overflow: hidden;
            width: 350px;
            background: #FDF3F0;
            border-radius: 15px;
            img{
                width: 350px;
                height: 320px;
            }
            .exp{
                padding: 0 32px;
                h4{
                    font-weight: 500;
                    font-size: 20px;
                    text-align: center;
                    letter-spacing: 5px;
                    color: #E7816B;
                }
                p{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 26px;
                    text-align: center;
                    color: #333136;
                }

            }
        }
    }
    .web{
    margin-bottom: 160px;
    .web2{
        height: 308px;
         display: flex;
         justify-content: space-between;
        .app{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 48%;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../img/pic1/Bitmap2.png);
        border-radius: 15px;
        margin-bottom: 24px;
        h3{
        font-weight: 500;
        font-size: 40px;
        letter-spacing: 2px;
        color: #FFFFFF;
        }
        a{
            text-decoration: none;
        margin-top: -10px;
        font-weight: 500;
        font-size: 15px;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: #FFFFFF;
        }
        }
        .grapic{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 48%;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../img/pic1/Bitmap3.png);
        border-radius: 15px;
        h3{
        font-weight: 500;
        font-size: 40px;
        letter-spacing: 2px;
        color: #FFFFFF;
        }
        a{
            text-decoration: none;
        margin-top: -10px;
        font-weight: 500;
        font-size: 15px;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: #FFFFFF;
        }
        }
    }
    }
    .let{
    position: relative;
    top: 90px;
    background: #E7816B;
    border-radius: 15px;
    padding: 72px 96px 60px 95px;
    display: flex;
    justify-content: space-between;
   .let1{
    h2{
        width: 268px;
        font-weight: 500;
        font-size: 40px;
        line-height: 40px;
        color: #FFFFFF;
    }
    p{
    width: 459px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    }
   }
   .let2{
    display: flex;
    align-items: center;
        button{
            background: #FFFFFF;
            border-radius: 8px;
            font-weight: 500;
            font-size: 15px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #333136;
            border: 0;
            padding: 17px 19px;
            transition: .3s;
            &:hover{
                transform: scale(1.03);
                cursor: pointer;
            }
        }
   }
    }
    footer{
        width: 100%;
        background: #1D1C1E;
     .header-last{
        display: flex;
        justify-content: space-between;
        padding: 151px 0 46px 0;
        border-bottom: 0.1px solid #FFFFFF ;
        margin-bottom: 30px;
        a{
            img{
                width: 196px;
                height: 24px;       
            }
        }
        div {
            a {
                font-weight: 400;
                font-size: 14px;
                letter-spacing: 2px;
                text-decoration: none;
                &:not(:last-child) {
                    margin-right: 42px;
                }
            }
            a{ 
                color: #FFFFFF;
                mix-blend-mode: normal;
                opacity: 0.5;
                transition: .5s;
                &:hover{
                    color: #E7816B;
                }
            }
        }
     }
     .control{
        justify-content: space-between;
        padding-bottom: 72px;
        display: flex;
        .div{
            font-weight: 700;
            font-size: 16px;
            line-height: 26px;
            color: #FFFFFF;
            mix-blend-mode: normal;
            opacity: 0.5;
           width: 200px;
        }
        .icon{
            display: flex;
            align-items: flex-end;
            img{
                &:not(:last-child){
                    margin-right: 16px;
                }
            }
        }
     }
    }
}