@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
.header{
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .child1{
    margin-left: 40px;
    border-radius: 0px;
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 40px;    
}
.header .child2{
    margin-right: 40px;
    margin-top: 56px;
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    text-align: right;
    letter-spacing: 2.57143px;
    color: #7D7D7D;
}
hr{
   margin-left: 40px;
   margin-bottom: 40px;
   width: 1360px;
    background: #E5E5E5;
}
.head{
    display: flex;
}
.head .header1 {
    display: flex;
    flex-direction: column;
}
.head .header1 .picture{
    position: relative;
    margin-bottom: 40px;
    margin-left: 40px;
}
.head .header1 .picture .p{
    position:absolute;
    top:10px;
    color: white;
    margin-left: 20px;
}


















/* .header3{
    display: flex;
    width: 1440px;
    height: 100px;
    background-color: yellowgreen;
}
.header3 .picture1{
    width: 100px;
    height: 130px;
    background-color: red;
    margin-left: 40px;
    margin-top: 40px;
}
.header3 .picture2{
    margin-left: 40px;
    background-color: rgb(0, 255, 247);
    margin-left: 240px;

}.header3 .picture3{
    width: 100px;
    height: 130px;
    background-color: rgb(0, 98, 255);
    margin-left: 40px;

}.header3 .picture4{
    width: 100px;
    height: 130px;
    background-color: rgb(123, 255, 0);
    margin-left: 40px;

} */