@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto";
  margin: 0;
  margin-bottom: 200px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.studio {
  padding: 24px 0;
}
.studio .menunav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.studio .menunav img {
  width: 145px;
  height: 31px;
}
.studio .menunav .stud {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.studio .menunav .stud .three {
  margin-right: 305px;
}
.studio .menunav .stud .three a {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.studio .menunav .stud .three a:hover {
  color: #2196F3;
  cursor: pointer;
}
.studio .menunav .stud .three a:not(:last-child) {
  margin-right: 50px;
}
.studio .menunav .stud .a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.studio .menunav .stud .a:not(:last-child) {
  margin-right: 31px;
}
.studio .menunav .stud .a svg {
  margin-right: 10px;
}
.studio .menunav .stud .a svg path {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.studio .menunav .stud .a svg path:hover {
  fill: #2196F3;
  cursor: pointer;
}
.studio .menunav .stud .a:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  color: #2196F3;
  cursor: pointer;
}

.img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 600px;
  background-image: url(../img/pic/Img.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 94px;
}
.img h1 {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px;
  text-align: center;
}
.img button {
  width: 200px;
  height: 50px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  border: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.img button:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  cursor: pointer;
}

.group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 94px;
}
.group div img {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}
.group div h4 {
  margin-top: 0;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}
.group div p {
  width: 270px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.img2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 94px;
}
.img2 .chil1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 370px;
  height: 294px;
  background-image: url(../img/pic/klava.png);
}
.img2 .chil1 .desk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.img2 .chil1 .desk:hover {
  color: blue;
  cursor: pointer;
}
.img2 .chil2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 370px;
  height: 294px;
  background-image: url(../img/pic/phone.png);
}
.img2 .chil2 .desk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.img2 .chil2 .desk:hover {
  color: blue;
  cursor: pointer;
}
.img2 .chil3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 370px;
  height: 294px;
  background-image: url(../img/pic/color.png);
}
.img2 .chil3 .desk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.img2 .chil3 .desk:hover {
  color: blue;
  cursor: pointer;
}

.comand {
  background-color: #F5F4FA;
  padding-top: 50px;
  padding-bottom: 94px;
  margin-bottom: 94px;
}
.comand h2 {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
.comand .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.comand .person .per1 {
  width: 270px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.comand .person .per1 img {
  width: 270px;
  height: 260px;
}
.comand .person .per1 .h4 {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}
.comand .person .per1 p {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}
.comand .person .per1 .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 44px;
  margin-bottom: 42px;
}

.client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 94px;
}
.client .svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}

footer {
  padding: 60px 0;
  background-color: #2F303A;
}
footer .studio1 .menunav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .studio1 .menunav img {
  width: 145px;
  height: 31px;
}
footer .studio1 .menunav a {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}
footer .studio1 .menunav a {
  margin-left: 150px;
}/*# sourceMappingURL=style.css.map */