@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}





.planets {
    width: 1440px;
    height: 1024px;
    background-image: url(../assets/space.jpg);
    margin: 0 auto;

    header {
        width: 100%;
        display: flex;
        justify-content: space-between;

        h1 {
            padding: 22px 32px;

            font-family: 'Antonio';
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 36px;
            letter-spacing: -1.05px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        
.ham {
    display: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .hamRotate.active {
    transform: rotate(45deg);
  }
  .hamRotate180.active {
    transform: rotate(180deg);
  }
  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#000;
    stroke-width:5.5;
    stroke-linecap:round;
  }
  .ham1 .top {
    stroke-dasharray: 40 139;
  }
  .ham1 .bottom {
    stroke-dasharray: 40 180;
  }
  .ham1.active .top {
    stroke-dashoffset: -98px;
  }
  .ham1.active .bottom {
    stroke-dashoffset: -138px;
  }

        label {
            display: none;
            flex-direction: column;
            width: 70px;
            cursor: pointer;
        }

        label span {
            background: #fff;
            border-radius: 10px;
            height: 7px;
            margin: 7px 0;
            transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);

        }

        span:nth-of-type(1) {
            width: 50%;

        }

        span:nth-of-type(2) {
            width: 100%;
        }

        span:nth-of-type(3) {
            width: 75%;

        }

        input[type="checkbox"] {
            display: none;
        }

        input[type="checkbox"]:checked~span:nth-of-type(1) {
            transform-origin: bottom;
            transform: rotatez(45deg) translate(8px, 0px)
        }

        input[type="checkbox"]:checked~span:nth-of-type(2) {

            transform-origin: top;
            transform: rotatez(-45deg)
        }

        input[type="checkbox"]:checked~span:nth-of-type(3) {

            transform-origin: bottom;
            width: 50%;
            transform: translate(30px, -11px) rotatez(45deg);

        }

        ul {
            display: flex;
            align-items: center;

            li {
                display: flex;
                align-items: center;
                padding: 22px 0px;
                height: 100%;
                font-family: 'Spartan';
                list-style: none;
                font-weight: 700;
                font-size: 11px;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: #FFFFFF;
                opacity: 0.8;
                margin-right: 33px;
                border-top: 4px solid transparent;
                transition: .5s;


                &:hover {
                    cursor: pointer;
                    border-top: 4px solid #419EBB;
                }
            }
        }
    }

    .longLine {
        width: 100%;
        height: 1px;
        background: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.2;
    }

    .information {
        main {
            padding: 120px 0 87px;
            width: 75%;
            display: flex;
            margin: 0 auto;

            .leftSide {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50%;

                img {
                    width: 400px;
                    height: 400px;
                    object-fit: cover;
                }
            }

            .rightSide {
                display: flex;
                justify-content: flex-end;
                width: 50%;

                .blok {
                    h2 {
                        font-family: 'Antonio';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 80px;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        margin-bottom: 23px;
                    }

                    p {
                        width: 350px;
                        font-family: 'Spartan';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 25px;
                        color: #FFFFFF;
                        margin-bottom: 24px;
                    }

                    .shape {
                        font-family: 'Spartan';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        color: #FFFFFF;
                        mix-blend-mode: normal;
                        opacity: 0.5;
                        cursor: pointer;
                        margin-bottom: 39px;
                    }

                    .structure {
                        display: flex;
                        align-items: center;
                        mix-blend-mode: normal;
                        border: 1px solid #FFFFFF;
                        width: 350px;
                        padding: 12px 28px;
                        font-family: 'Spartan';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 12px;
                        letter-spacing: 2.57143px;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        transition: .3s;

                        .num {
                            margin-right: 28px;
                            font-family: 'Spartan';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 12px;
                            letter-spacing: 2.57143px;
                            text-transform: uppercase;
                            color: #FFFFFF;
                            mix-blend-mode: normal;
                            opacity: 0.5;
                        }

                        &:not(:last-child) {
                            margin-bottom: 16px;
                        }

                        &:hover {
                            cursor: pointer;
                            border: 1px solid #419EBB;
                            background: #419EBB;

                        }
                    }
                }
            }
        }

        footer {
            width: 75%;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;

            .spaceInform {
                width: 255px;
                height: 128px;
                mix-blend-mode: normal;
                padding: 20px 23px;
                border: 1px solid #ffffff38;

                .time {
                    font-family: 'Spartan';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 11px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    mix-blend-mode: normal;
                    opacity: 0.5;
                    margin-bottom: 4px;
                }

                .days {
                    font-family: 'Antonio';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 40px;
                    letter-spacing: -1.5px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }
            }
        }

    }

    .bur {
        display: none;
        width: 24px;
        height: 17px;
        margin-right: 15px;
    }
}

@import '_tab.scss';
@import '_mobile.scss';